extends layout

block content
  h1 Projects
  ul
    p Gaining experience using HTML, PUG, Node, Javascript and CSS<br/>
                
    p Gained experience using C# and Visual Studio to create a cross-platform application<br/>
    p Learned about mobile development and design<br/>
    p Working with a global team to create a product<br/>
                        
    p Meeting with the clients to discuss the project requirements<br/>
    p Created a new website for client with modern standards and design <br/>
