extends layout

block content
  h1 Services
  ul
    p Working on HTML, CSS, JAVASCRIPT, PHP, ASP.NET, C++.<br/>
    p Create different projects for companies<br/>
    p Also work on different projects indepently<br/>